@page
@model Path_Green.web.Pages.Inventories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.QuantityOnHand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.QuantityOnHand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.ReorderLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.ReorderLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.LastUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.LastUpdated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.Product!.ProductID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Inventory.InventoryID">Edit</a> |
    <a asp-page="./Index" class="btn btn-outline-secondary ms-2">
        Back
    </a>
</div>
